.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2B2A4C;
}
.container__intro{
  width: 100%;
  height: auto;
}
.container__imgGeo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.container__imgDash{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container__section--dashboard{
  width: 100%;
  height: auto;
}
.section__title--dashboard{
  padding: 0 8px;
  color: #EA906C;
  opacity: 0.6;
  margin-bottom: 20px;
}
@media screen and (min-width:762px) {
  .container__intro{
    width: 90%;
  }
  .container__section--dashboard{
    width: 90%;
  }
}